* {
  font-family: 'Roboto', sans-serif;

}

table, td, tr, thead, tbody, th {
  border: 1px solid;
  border-collapse: collapse;
}
td, th {
  padding: 2px 4px;
}


a {
  color: inherit;
  text-decoration: none;
}
